# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets and models
*.csv
*.tsv
*.xlsx
*.pkl
*.h5
*.model

# Environment files
.env
.venv/
venv/
.env/
*.log

# OS files
.DS_Store
Thumbs.db

# Anaconda / VSCode
.idea/
.vscode/
